<div class="post">
  <p>Name: {{ post().name }}</p>
  <img class="post-image" [src]="post().img" [alt]="post().name" />
  @if (post().isLiked) {
    <img
      class="heart-icon"
      src="images/heart-red.png"
      alt="Liked"
      (click)="toggleLike()"
    />
  } @else {
    <img
      class="heart-icon"
      src="images/heart-black.png"
      alt="Not liked"
      (click)="toggleLike()"
    />
  }
  <p>Likes: {{ post().Likes }}</p>
  <div class="comments">
  @for (comment of post().comments; track comment) {
    <p class="comment"><strong>{{ comment.author }}:</strong> {{ comment.text }}</p>
  }
  <h3>Comments</h3>
  <label for="commentAdd comment:"></label>
  <input id="comment" type="text" [formField]="commentInput"/>
  <button type="button" (click)="addComment()">Send</button>
</div>
</div>

